<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>花生酱社区</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- 这个路径有Bug不知道为啥 -->
    <link rel="stylesheet" href="/bootstrap-3.4.1-dist/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/bootstrap-3.4.1-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/community.css">
    <!--放在bootstrap.js上方-->
    <script src="/js/jquery-3.6.0.js"></script>
    <script src="/bootstrap-3.4.1-dist/js/bootstrap.js"></script>

</head>
<body>
<div th:insert="~{navigation::nav}"></div>
<div class="jumbotron">
    <h1>出错咯!</h1>
    <p th:text="${message}">服务器炸了~</p>
    <p><a class="btn btn-primary btn-lg" href="/" role="button">回到主页</a></p>
</div>
<div th:insert="~{footer :: foot}"></div>
</body>
</html>