<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${postthread.title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <!--放在bootstrap.js上方-->
    <script src="/js/moment.js"></script>
    <script src="/js/jquery-3.6.0.js"></script>
    <script src="/js/community.js"></script>
    <script src="/bootstrap-3.4.1-dist/js/bootstrap.js"></script>
    <script src="/editor.md-master/editormd.js"></script>
    <script src="/editor.md-master/lib/marked.min.js"></script>
    <script src="/editor.md-master/lib/prettify.min.js"></script>


    <!-- 这个路径有Bug不知道为啥 -->
    <link rel="stylesheet" href="/bootstrap-3.4.1-dist/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/bootstrap-3.4.1-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/editor.md-master/css/editormd.css">
    <link rel="stylesheet" href="/editor.md-master/css/editormd.preview.css">
    <link rel="stylesheet" href="/css/community.css">



</head>
<body>
<div th:insert="~{navigation::nav}"></div>
<div class="container-fluid main">
    <div class="row">
        <!--左边布局-->
        <div class="col-lg-9 col-md-12 col-sm-12 col-xm-12">
            <!--正文-->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xm-12">

                <h4 class="question-title"><span th:text="${postthread.title}"></span></h4>
                <span class="text-desc">
                作者:<span th:text="${postthread.creatorName}"></span>
                发布时间:<span th:text="${#dates.format(postthread.gmtCreate,'yyyy-MM-dd')}"></span>
                阅读数:<span th:text="${postthread.viewCount}"></span>
                </span>
                <hr class="col-lg-12 col-md-12 col-sm-12 col-xm-12">
                <!--内容-->
                <hr>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xm-12" id="thread-view">
                    <!-- Server-side output Markdown text -->
                    <textarea style="display:none;" th:text="${postthread.description}"></textarea>
                </div>
                <script type="text/javascript">
                    $(function() {
                        editormd.markdownToHTML("thread-view", {});
                    });
                </script>
                <hr>
                <!--放标签-->
                <div class="col-lg-12 col-md-12 col-sm-12 col-xm-12">
                    <a th:if="${postthread.tag!=null&&postthread.tag!=''}">
                        <span class="label label-info question-tag" th:each="tag : ${postthread.tag.split('/')}">
                        <span class="glyphicon glyphicon-tags"></span>
                        <span class="label label-info question-tag" th:text="${tag}"></span>
                    </span>
                    </a>

                </div>
                <!--编辑-->
                <hr class="col-lg-12 col-md-12 col-sm-12 col-xm-12">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xm-12">
                    <a th:href="@{'/publish/'+${postthread.id}}" class="community-menu"
                       th:if="${session.user!=null&&session.user.id==postthread.creator}">
                        <span class="glyphicon glyphicon-pencil" aria-hidden="true">编辑</span>
                    </a>
                </div>

            </div>

            <!--回复-->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xm-12">
                <h4>
                    <span th:text="${postthread.commentCount}"></span>个回复
                </h4>
                <hr class="col-lg-12 col-md-12 col-sm-12 col-xm-12 comment-sp">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xm-12 comments">
                    <div class="media" th:each="comment:${comments}">
                        <div class="media-left">
                            <a href="#">
                                <img class="media-object img-rounded"
                                     th:src="${comment.user.avatarUrl}">
                            </a>
                        </div>
                        <div class="media-body">
                            <h5 class="media-heading">
                                <span th:text="${comment.user.name}"></span>
                            </h5>
                            <div th:text="${comment.content}"></div>
                            <div class="menu">
                                <span class="glyphicon glyphicon-thumbs-up icon"></span>
                                <!--单独放一个span控制二级评论的折叠与展开-->
                                <span th:data-id="${comment.id}"
                                      onclick="collapseComments(this)" class="comment-icon">
                                    <span class="glyphicon glyphicon-comment"></span>
                                    <span th:text="${comment.commentCount}"></span>
                                    </span>
                                <span class="pull-right"
                                      th:text="${#dates.format(comment.gmtCreate,'yyyy-MM-dd')}"></span>
                            </div>
                            <!--使用级联展开二级评论-->
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xm-12 collapse sub-comments"
                                 th:id="${'comment-'+comment.id}">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xm-12">
                                    <input type="text" class="form-control" placeholder="评论一下"
                                           th:id="${'input-'+comment.id}">
                                    <!--通过data属性自定义变量名,把被评论的-->
                                    <button type="button" class="btn btn-success pull-right" th:data-id="${comment.id}"
                                            onclick="comment(this)">评论
                                    </button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--回复输入框-->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xm-12">
                <h5>
                    我的回复
                </h5>
                <hr class="col-lg-12 col-md-12 col-sm-12 col-xm-12 comment-sp">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xm-12">
                    <div class="media">
                        <div class="media-left">
                            <a href="#">
                                <!--未登录评论头像默认-->
                                <img class="media-object img-rounded"
                                     th:src="${session.user!=null?session.user.avatarUrl:'/images/default-avatar.jpg'}">
                            </a>
                        </div>
                        <div class="media-body">
                            <h5 class="media-heading">
                                <span th:text="${session.user!=null?session.user.name:'匿名用户'}"></span>
                            </h5>
                        </div>
                    </div>
                    <input type="hidden" id="thread_id" th:value="${postthread.id}">
                    <textarea class="form-control comment" rows="6" id="comment_content"></textarea>
                    <button type="button" class="btn btn-success btn-comment" onclick="post()">回复</button>
                </div>
            </div>
        </div>

        <!--右边布局-->
        <div class="col-lg-3 col-md-12 col-sm-12 col-xm-12">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h4>发起人</h4>
                <div class="media">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object img-rounded"
                                 th:src="${postthread.creatorAvatar}">
                        </a>
                    </div>
                    <div class="media-body">
                        <h5 class="media-heading">
                            <span th:text="${postthread.creatorName}"></span>
                        </h5>
                    </div>
                </div>
            </div>

            <hr class="col-lg-12 col-md-12 col-sm-12 col-xm-12">
            <!--微信公众号-->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h4>
                    假装这里有一个公众号
                </h4>
                <img class="img-thumbnail img-style" src="/images/presidentmorty.png">
            </div>

            <hr class="col-lg-12 col-md-12 col-sm-12 col-xm-12">
            <!--相关帖子-->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xm-12">
                <h4>相关帖子</h4>
                <!--使用无序列表标签-->
                <ul class="question-related">
                    <li th:each="related:${relatedThreads}">
                        <a th:href="@{'/thread/'+${related.id}}" th:text="${related.title}"></a>
                    </li>
                </ul>

            </div>
        </div>
    </div>
</div>
<div th:insert="~{footer :: foot}"></div>
</body>
</html>